.section-sandwich {
    background: #f3f1e9;
}

.sandwich-header {
    text-align: center;
    margin: auto;
    padding-top: 80px;
}

.sandwich-header h2 {
    color: #56534c;
    font-family: Alegreya, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.sandwich-header p {
    color: #a47d5e;
    font-family: Alegreya, sans-serif;
    font-weight: bold;
}

.container-sandwich__card {

}

.sandwich__card {
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}

.sandwich__card img {
    width: 100%;
    max-width: 80px;
}

.sandwich__card h2 {
    color: #a47d5e;
    font-family: Alegreya, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
}

.sandwich__card p {
    color: #56534c;
    font-size: 14px;
    margin: 0;
}

.sandwich-time {
    background: url("../img/Ebene 8.png");
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    border: 10px solid #ffffff;
    position: relative;
    box-shadow: 0px 5px 18px -5px rgba(86, 83, 76, 0.54);
}

.time__card {

}

.sandwich-cook {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: absolute;
    right: 0;
    top: -30px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Alegreya, sans-serif;

}

.sandwich-cook h2 {
    font-weight: bold;
    color: #56534c;
    font-size: 50px;
}

.sandwich-cook h6 {
    color: #a47d5e;
    margin: 0;
    font-weight: bold;
}

.sandwich-cook p {
    color: #979285;
    margin: 0;
}

.sandwich-cook-second {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    position: absolute;
    right: 0;
    top: 165px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Alegreya, sans-serif;
}

.sandwich-cook-second h2 {
    font-weight: bold;
    color: #56534c;
    font-size: 50px;
}

.sandwich-cook-second h6 {
    color: #a47d5e;
    margin: 0;
    font-weight: bold;
}

.sandwich-cook-second p {
    color: #979285;
    margin: 0;
}

.sandwich-cook-third {
    background: url("../img/bgcontry.png");
    width: 100%;
    position: absolute;
    right: 0;
    top: 360px;
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Alegreya, sans-serif;
    box-shadow: 0px 5px 18px -5px rgba(86, 83, 76, 0.54);
}

.sandwich-cook-third h2 {
    font-weight: bold;
    color: #dfc691;
    font-size: 65px;
}

.sandwich-cook-third h6 {
    color: #a47d5e;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.sandwich-cook-third p {
    color: #979285;
    margin: 0;
}

.link-recipe {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
    background: #ffffff;
    color: #dfc691;
    border: 1px dashed #dfc691;
    text-align: center;
    margin: auto;
    font-family: Alegreya, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    bottom: -25px;
    left: -25px;
}

.link-recipe:hover {
    text-decoration: none;
    color: #dfc691;
}


@media (max-width: 992px) {
    .sandwich__card{
        margin-bottom: 0;
    }
}
@media (max-width: 500px) {
    .sandwich-cook-third h6{
        font-size: 15px;
        text-align: center;
    }
    .sandwich-cook-third h2{
        font-size: 50px;
    }
}