.section-head {
    background-image: url("../img/img.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    background-position: center;
}

.section-head__menu {
    background-color: rgba(86, 83, 76, 0.529);
    height: 75px;
    display: flex;
    align-items: center;
}

.section-head__container-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-head__container-button ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section-head__container-button li {
    font-family: Alegreya, sans-serif;
    list-style-type: none;
    padding: 0 30px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 3px;
}

.button-tools {
    position: relative;
}

.button-tools:after {
    content: "~";
    color: #ffffff;
    position: absolute;
    right: 100%;
    transform: translateX(50%);
}

.button-tools:before {
    content: "~";
    color: #ffffff;
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
}

.box-button p {
    color: #ffffff;
    margin: 0;
    font-family: Alegreya, sans-serif;
}

.section-head__menu__icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-head__menu__icon a {
    padding: 0 10px;
}

.section-head__menu__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-head__menu__logo img {
    width: 100%;
}

.section_head__container-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.section_head__container-header h2 {
    font-size: 100px;
    margin: 70px auto;
}

.section_head__container-header h5 {
    font-size: 28px;
    max-width: 550px;
    margin: 70px auto;
    width: 100%;
}

.dashed_line {
    box-shadow: 0px 1px 0px 0px rgba(61, 48, 41, 0.004);
}

.bg_shadow {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.section_head__container-header a {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 200px;
    margin: auto;
    padding: 10px;
    border-width: 1px;
    border-color: rgb(158, 156, 147);
    border-style: dashed;
    background-color: rgba(86, 83, 76, 0.529);
    color: #ffffff;
    font-size: 18px;
}

.section_head__container-header a:hover {
    text-decoration: none;
}

.border_bullets {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(50%);
}

.mobile-menu {
    display: none;
}

.mobile-menu i {
    font-size: 25px;
    color: #ffffff;
}

@media (max-width: 1305px) {
    .section_head__container-header h2 {
        font-size: 70px;
    }

    .section_head__container-header h5 {
        font-size: 25px;
    }
}

@media (max-width: 1200px) {
    .section-head__container-button li {
        padding: 0 20px;
    }
}

@media (max-width: 1000px) {
    .mobile-menu {
        display: block;
    }

    .section-head__menu__icon {
        display: none;
    }

    .section-head__container-button ul li:nth-child(5) {
        display: none;
    }

    .section-head__container-button ul li:nth-child(4) {
        display: none;
    }
}

@media (max-width: 920px) {
    .section_head__container-header h2 {
        margin: 25px auto;
        font-size: 55px;
    }

    .section_head__container-header h5 {
        margin: 25px auto;
        font-size: 20px;
    }

    .section-head__container-button {
        display: none;
    }

}

@media (max-width: 425px) {
    .section_head__container-header h2 {
        margin: 15px auto;
        font-size: 50px;
    }

    .section_head__container-header h5 {
        margin: 15px auto;
        font-size: 18px;
    }

    .section_head__container-header a {
        margin-top: 30px;
    }
}